* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  background: linear-gradient(
    115deg,
    rgba(58, 58, 158, 0.8),
    rgba(136, 136, 206, 0.7)
  );
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin: 2em auto;
}

h1 {
  font-weight: 500;
  margin: 0;
  margin-top: 1.5em;
}

p {
  font-size: 20px;
  font-style: italic;
  margin: 0.4em;
}

h1,
p {
  text-align: center;
}

.container{
    background-color: rgb(39, 39, 70);
    background-color: transparent;
    max-width: 700px;
    margin: 0 auto;
}

form {
  color: #fff;
  padding: 0 2rem;
  padding-bottom: 3rem;
}

fieldset {
  border: none;
  padding: 0 0 0.2rem 0;
}

label {
  display: block;
  margin: 1.2rem 0;
  font-size: 17px;
}

.radio-label, .checkbox-label  {
  margin: 0.5rem 0;
}

input,
select,
textarea {
  width: 100%;
  margin: 0.4rem 0;
  padding: 0.5em 0.8em;
  font-size: 14px;
  border: 2px solid #fff;
  font-family: Arial, Helvetica, sans-serif;
}

input,
select {
  border-radius: 4px;
}

.inline {
  width: unset;
  vertical-align: middle;
  margin-right: 0.5em;
}

textarea {
  min-height: 7rem;
  resize: vertical;
  font-size: 1rem;
}

input[type="submit"]{
    padding: 0.8rem 0;
    font-size: 1.1rem;
    background-color: #54B065;
    color: #fff;
    border: none;
    border-radius: 2px;
}